starlette
click
pydantic
coloredlogs
verboselogs
string-color
progress
progressbar

maxminddb
requests
types-requests
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
